* {box-sizing:border-box}

#playbutton {
  display:flex;
  justify-content:center;
  align-items:center;
  font:20vw sans-serif;
  color:gray;
  text-shadow:0 0 0.5em red;
  top:0;
  bottom:0;
  z-index:9000;
  position:absolute;
  width:100%;
  text-decoration: none;
}

body { margin: 0 }

img {
  width:100%;
  height:100%;
  object-fit: cover;
}

#slideshow-container {
  width: 100%;
  height: 100%;
  /* max-width: 1000px;
  position: relative;
  margin: auto; */
}

.mySlides {
  display: none;
  height: 100%
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.8s;
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}
